<div>
    <h2 data-translate="imicloudApp.imDocument.home.title">Im Documents</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">

            </div>
            <div class="col-xs-8 no-padding-right">

                <a class="btn btn-primary pull-right" ui-sref="branding">
                    <span class="glyphicon glyphicon-wrench"></span>
                    <span data-translate="imicloudApp.imDocument.editBranding">Edit branding</span>
                </a>
            </div>
        </div>
    </div>
    <br/>

    <div ng-show="vm.imDocuments.length == 0">
        <p class="alert alert-info" data-translate="imicloudApp.imDocument.noDocumentsExist">
            You haven't published any documents yet.
        </p>
    </div>

    <div ng-show="vm.imDocuments.length > 0" class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="documentName"><span data-translate="imicloudApp.imDocument.documentName">Document Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="password"><span data-translate="imicloudApp.imDocument.password">Password</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="defaultTemplate"><span data-translate="imicloudApp.imDocument.defaultTemplate">Default Template</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="brandingName"><span data-translate="imicloudApp.imDocument.branding">Branding</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <!--
                    <th jh-sort-by="folderId"><span data-translate="imicloudApp.imDocument.folder">Folder</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userEmail"><span data-translate="imicloudApp.imDocument.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    -->
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="imDocument in vm.imDocuments track by imDocument.id">
                    <td><a target="_blank" ng-href="{{imDocument.publicViewUrl}}">{{imDocument.documentName}}</a></td>
                    <td>{{imDocument.password}}</td>
                    <td ng-switch="imDocument.defaultTemplate">
                        <span ng-switch-when="web1">
                            Website 1
                        </span>
                        <span ng-switch-when="presentation1">
                            Presentation 1
                        </span>
                        <span ng-switch-default>
                            {{imDocument.defaultTemplate}}
                        </span>
                    </td>
                    <td>
                        <a ui-sref="brandingroute-detail({id:imDocument.brandingId})">{{imDocument.brandingName}}</a>
                    </td>
                    <!--
                    <td>
                        <a ui-sref="folderroute-detail({id:imDocument.folderId})">{{imDocument.folderId}}</a>
                    </td>
                    <td>
                        {{imDocument.userEmail}}
                    </td>
                    -->
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <a target="_blank" ng-href="{{imDocument.publicViewUrl}}" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </a>
                            <button type="submit" ng-click="vm.showShareDialog(imDocument)" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-share-alt"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.share"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="im-documentroute.edit({id:imDocument.id})"
                                    class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="im-documentroute.delete({id:imDocument.id})"
                                    class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <!-- Modal "Share Document" -->
    <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="shareModalLabel">Share</h4>
                </div>
                <div class="modal-body">
                    <p>Share this URL with others:</p>
                    <blockquote style="word-break: break-all;">
                        {{vm.shareModalDocument.publicViewUrl}}
                    </blockquote>

                    <div ng-show="vm.shareModalDocument.password">
                        <p>And let them know the password:</p>
                        <blockquote style="word-break: break-all;">
                            {{vm.shareModalDocument.password}}
                        </blockquote>
                    </div>

                    <!--
                    Copy to clipboard work-in-progress

                        <form>
                        <p>Share this URL with others:</p>
                        <div class="input-group">
                            <input type="text" class="form-control" value="{{vm.shareModalDocument.publicViewUrl}}" id="copy-input">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="copy-button" ng-click="vm.copyUrlToClipboard()" title="Copy to Clipboard">Copy</button>
                            </span>
                        </div>
                        </form>
                        -->

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


</div>
