
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myBrandingLabel" data-translate="imicloudApp.branding.home.createOrEditLabel">Create or edit a Branding</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.branding.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.branding.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="imicloudApp.branding.primaryColor" for="field_primaryColor">Primary Color</label>
            <input type="text" class="form-control" name="primaryColor" id="field_primaryColor"
                    ng-model="vm.branding.primaryColor"
                    ng-maxlength="6" />
            <div ng-show="editForm.primaryColor.$invalid">
                <p class="help-block"
                    ng-show="editForm.primaryColor.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="6">
                    This field cannot be longer than 6 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="imicloudApp.branding.secundaryColor" for="field_secundaryColor">Secundary Color</label>
            <input type="text" class="form-control" name="secundaryColor" id="field_secundaryColor"
                    ng-model="vm.branding.secundaryColor"
                    ng-maxlength="6" />
            <div ng-show="editForm.secundaryColor.$invalid">
                <p class="help-block"
                    ng-show="editForm.secundaryColor.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="6">
                    This field cannot be longer than 6 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="imicloudApp.branding.pageBackgroundColor" for="field_pageBackgroundColor">Page Background Color</label>
            <input type="text" class="form-control" name="pageBackgroundColor" id="field_pageBackgroundColor"
                    ng-model="vm.branding.pageBackgroundColor"
                    ng-maxlength="6" />
            <div ng-show="editForm.pageBackgroundColor.$invalid">
                <p class="help-block"
                    ng-show="editForm.pageBackgroundColor.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="6">
                    This field cannot be longer than 6 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="imicloudApp.branding.logoImage" for="field_logoImage">Logo Image</label>
            <select class="form-control" id="field_logoImage" name="logoImage" ng-model="vm.branding.logoImageId" ng-options="image.id as image.filename for image in vm.logoimages | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="imicloudApp.branding.organization" for="field_organization">Organization</label>
            <select class="form-control" id="field_organization" name="organization" ng-model="vm.branding.organizationId" ng-options="organization.id as organization.name for organization in vm.organizations | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
