<div>
    <h2 data-translate="imicloudApp.branding.home.title">Brandings</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="branding.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="imicloudApp.branding.home.createLabel">
                        Create new Branding
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'imicloudApp.branding.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="imicloudApp.branding.primaryColor">Primary Color</span></th>
                    <th><span data-translate="imicloudApp.branding.secundaryColor">Secundary Color</span></th>
                    <th><span data-translate="imicloudApp.branding.pageBackgroundColor">Page Background Color</span></th>
                    <th><span data-translate="imicloudApp.branding.logoImage">Logo Image</span></th>
                    <th><span data-translate="imicloudApp.branding.organization">Organization</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="branding in vm.brandings track by branding.id">
                    <td><a ui-sref="branding-detail({id:branding.id})">{{branding.id}}</a></td>
                    <td>{{branding.primaryColor}}</td>
                    <td>{{branding.secundaryColor}}</td>
                    <td>{{branding.pageBackgroundColor}}</td>
                    <td>
                        <a ui-sref="image-detail({id:branding.logoImageId})">{{branding.logoImageFilename}}</a>
                    </td>
                    <td>
                        <a ui-sref="organization-detail({id:branding.organizationId})">{{branding.organizationName}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="branding-detail({id:branding.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="branding.edit({id:branding.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="branding.delete({id:branding.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
