<div>
    <h2 data-translate="imicloudApp.imageSourcePath.home.title">Image Source Paths</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="image-source-path.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="imicloudApp.imageSourcePath.home.createLabel">
                        Create new Image Source Path
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'imicloudApp.imageSourcePath.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="source"><span data-translate="imicloudApp.imageSourcePath.source">Source</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="imageId"><span data-translate="imicloudApp.imageSourcePath.image">Image</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="imDocumentId"><span data-translate="imicloudApp.imageSourcePath.imDocument">Im Document</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="imageSourcePath in vm.imageSourcePaths track by imageSourcePath.id">
                    <td><a ui-sref="image-source-path-detail({id:imageSourcePath.id})">{{imageSourcePath.id}}</a></td>
                    <td>{{imageSourcePath.source}}</td>
                    <td>
                        <a ui-sref="image-detail({id:imageSourcePath.imageId})">{{imageSourcePath.imageId}}</a>
                    </td>
                    <td>
                        <a ui-sref="im-document-detail({id:imageSourcePath.imDocumentId})">{{imageSourcePath.imDocumentId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="image-source-path-detail({id:imageSourcePath.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="image-source-path.edit({id:imageSourcePath.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="image-source-path.delete({id:imageSourcePath.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
