
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myImageSourcePathLabel" data-translate="imicloudApp.imageSourcePath.home.createOrEditLabel">Create or edit a Image Source Path</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.imageSourcePath.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.imageSourcePath.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="imicloudApp.imageSourcePath.source" for="field_source">Source</label>
            <input type="text" class="form-control" name="source" id="field_source"
                    ng-model="vm.imageSourcePath.source"
                    required />
            <div ng-show="editForm.source.$invalid">
                <p class="help-block"
                    ng-show="editForm.source.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="imicloudApp.imageSourcePath.image" for="field_image">Image</label>
            <select class="form-control" id="field_image" name="image" ng-model="vm.imageSourcePath.imageId" ng-options="image.id as image.id for image in vm.images"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="imicloudApp.imageSourcePath.imDocument" for="field_imDocument">Im Document</label>
            <select class="form-control" id="field_imDocument" name="imDocument" ng-model="vm.imageSourcePath.imDocumentId" ng-options="imDocument.id as imDocument.id for imDocument in vm.imdocuments"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
