<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org " lang="en">
<head>
    <!-- Global Metas
============================================================================================================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <title th:text="${ImDocument.documentName}">Document Name</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

    <!-- CSS
    ============================================================================================================================================== -->

    <!--Google font: Open Sans: light / regular / semi-bold / bold-->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />

    <!--Custom styles-->
    <link rel="stylesheet" th:href="@{/content/templates/web1/styles/css/style.min.css}" href="content/templates/web1/styles/css/style.min.css" />

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Favicons
    ============================================================================================================================================== -->
    <link rel="shortcut icon" href="images/favicons/favicon.ico" />
    <link rel="apple-touch-icon" href="images/favicons/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-touch-icon-114x114.png" />

</head>
<body>

<!--
<h1 th:text="${ImDocumentDTO.documentName}">Document Name</h1>

<p th:text="${ImDocumentDTO.defaultTemplate}">Default template</p>

<p th:text="${ImDocument.documentName}">Document Name</p>
-->


<!-- MOBILE MENU OVERLAY
============================================================================================================================================== -->

<!--mobile nav-->
<div class="mobile-nav" off-canvas="mobile-nav left overlay">
    <a href="#" class="close-mobile-nav">
        <i class="icon-cancel"></i>
    </a>
    <!--
    <div class="searchbox">
        <input placeholder="search..." type="text" />
        <input value="" type="submit" />
        <i class="icon-search"></i>
    </div>
    -->
    <nav>
        <ul>
            <li>
                <a href="#">
                    <span th:text="${ImDocument.documentName}">Map name</span>
                    <i class="icon-plus"></i>
                </a>
                <ul class="sub-nav">
                    <li th:each="map,iterStat : ${ImDocument.getMaps()}">
                        <a href="#" data-th-attr="data-viewid=${iterStat.index}" data-viewid="001" th:text="${map.label}">
                            Map label
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>


<!-- CONTENT
============================================================================================================================================== -->

<!--INTRO: FULL SCREEN OVERLAY
<div class="intro" style="background-image:url('images/bg-intro.jpg');">
    <div class="text">
        <img src="images/text-intro.png" />
        <div class="clear"></div>
        <img src="images/logo-intro.png" />
        <div class="clear"></div>
        <div class="close-intro">
            <i class="icon-down-light"></i>
        </div>
    </div>
</div>
END INTRO: FULL SCREEN OVERLAY-->

<!--LEFT-SIDE-->
<section id="left-side">
    <div class="left-header">
        <div class="hamburger desktop">
            <i class="icon-menu"></i>
        </div>
        <div class="hamburger mobile">
            <i class="icon-menu"></i>
        </div>
        <div class="logo">
        </div>
    </div>
    <div class="left-nav">
        <!--
        <div class="searchbox">
            <input placeholder="search..." type="text" />
            <input value="" type="submit" />
            <i class="icon-search"></i>
        </div>
        -->
        <nav>
            <ul>


                <li>
                    <a href="#">
                        <span th:text="${ImDocument.documentName}">Map name</span>
                        <i class="icon-plus"></i>
                    </a>
                    <ul class="sub-nav">
                        <li th:each="map,iterStat : ${ImDocument.getMaps()}">
                            <a href="#" data-th-attr="data-viewid=${iterStat.index}" data-viewid="001" th:text="${map.label}">
                                Map label
                            </a>
                        </li>
                    </ul>
                </li>

                <!--

                <li>
                    <a href="#">
                        Discussienota - Hoe omgaan met de zuivelcrisis?
                        <i class="icon-plus"></i>
                    </a>
                    <ul class="sub-nav">
                        <li>
                            <a href="#" data-viewid="001">
                                Overzicht
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        Analyse van de zuivelmarkt
                        <i class="icon-plus"></i>
                    </a>
                    <ul class="sub-nav">
                        <li>
                            <a href="#" data-viewid="002">
                                Overzicht
                            </a>
                        </li>
                        <li>
                            <a href="#" data-viewid="003">
                                Lage en dalende prijzen
                            </a>
                        </li>
                        <li>
                            <a href="#" data-viewid="004">
                                Stijgende melkproductie
                            </a>
                        </li>
                        <li>
                            <a href="#" data-viewid="005">
                                Rendabiliteit melkveebedrijven
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        Europese maatregelen
                        <i class="icon-plus"></i>
                    </a>
                    <ul class="sub-nav">
                        <li>
                            <a href="#" data-viewid="006">
                                Overzicht
                            </a>
                        </li>
                        <li>
                            <a href="#" data-viewid="007">
                                Verhoging interventievolumes
                            </a>
                        </li>
                        <li>
                            <a href="#" data-viewid="008">
                                Tijdelijke verhoging staatssteun ( de-minimissteun )
                            </a>
                        </li>
                        <li>
                            <a href="#" data-viewid="009">
                                Productiebeperking op basis van Art. 222
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        Crisismaatregelen in België
                        <i class="icon-plus"></i>
                    </a>
                    <ul class="sub-nav">
                        <li>
                            <a href="#" data-viewid="010">
                                Overzicht
                            </a>
                        </li>
                        <li>
                            <a href="#" data-viewid="011">
                                Maatregelen op federaal en Vlaams niveau
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        Situatie buurlanden
                        <i class="icon-plus"></i>
                    </a>
                    <ul class="sub-nav">
                        <li>
                            <a href="#" data-viewid="012">
                                Overzicht
                            </a>
                        </li>
                        <li>
                            <a href="#" data-viewid="013">
                                Posities belangenorganisaties
                            </a>
                        </li>
                        <li>
                            <a href="#" data-viewid="014">
                                Duitsland
                            </a>
                        </li>
                        <li>
                            <a href="#" data-viewid="015">
                                Nederland
                            </a>
                        </li>
                        <li>
                            <a href="#" data-viewid="016">
                                Frankrijk
                            </a>
                        </li>
                        <li>
                            <a href="#" data-viewid="017">
                                Wallonië en Vlaanderen
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        Positie Boerenbond
                        <i class="icon-plus"></i>
                    </a>
                    <ul class="sub-nav">
                        <li>
                            <a href="#" data-viewid="018">
                                Overzicht
                            </a>
                        </li>
                        <li>
                            <a href="#" data-viewid="019">
                                Deelname aan debat over zuivelcrisis
                            </a>
                        </li>
                        <li>
                            <a href="#" data-viewid="020">
                                Standpunten uit het verleden
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        Bijlagen
                        <i class="icon-plus"></i>
                    </a>
                    <ul class="sub-nav">
                        <li>
                            <a href="#" data-viewid="021">
                                Afkortingen
                            </a>
                        </li>
                    </ul>
                </li>
                -->
            </ul>
        </nav>
    </div>
</section>
<!--END LEFT-SIDE-->

<!--RIGHT-SIDE-->
<section id="right-side" canvas="container">
    <div class="wrapper">

        <!--view-->
        <section th:each="map,mapIter : ${ImDocument.getMaps()}" class="view" data-th-attr="data-viewid=${mapIter.index}">
            <div class="view-header">
                <div class="container">
                    <div class="sixteen">
                        <h1>Discussienota - Hoe omgaan met de zuivelcrisis?</h1>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div th:each="block,blockIter : ${map.getBlocks()}" class="view-content" data-th-attr="data-viewid=${mapIter.index + '-' + blockIter.index}" data-viewid="001-01">
                <div class="container">
                    <div class="sixteen">
                        <h2 th:text="${map.label}">Overzicht</h2>
                    </div>

                    <div class="clear"></div>

                    <div class="parts block">
                        <a href="#een" data-viewid="001-02" class="part" style="background-image:url('images/bg-button-001.jpg');">
                            <span>Documentinformatie</span>
                            <div class="more">
                                <i class="icon-right-light"></i>
                            </div>
                        </a>
                        <a href="#twee" data-viewid="001-02" class="part" style="background-image:url('images/bg-button-002.jpg');">
                            <span>Doel</span>
                            <div class="more">
                                <i class="icon-right-light"></i>
                            </div>
                        </a>
                        <a href="#drie" data-viewid="001-02" class="part" style="background-image:url('images/bg-button-001.jpg');">
                            <span>Onderwerp</span>
                            <div class="more">
                                <i class="icon-right-light"></i>
                            </div>
                        </a>
                        <a href="#vier" data-viewid="001-02" class="part" style="background-image:url('images/bg-button-002.jpg');">
                            <span>Achtergrond</span>
                            <div class="more">
                                <i class="icon-right-light"></i>
                            </div>
                        </a>
                        <a href="#vijf" data-viewid="001-02" class="part" style="background-image:url('images/bg-button-001.jpg');">
                            <span>Vervolgstappen</span>
                            <div class="more">
                                <i class="icon-right-light"></i>
                            </div>
                        </a>
                        <div class="clear"></div>
                    </div>

                    <div class="sixteen">
                        <p>
                            Tekst met <a href="#" class="anchor" data-viewid="002-01">link</a> naar ander gedeelte in het document: andere view andere view-content geen carousel
                        </p>
                        <p>
                            Tekst met <a href="#zes" class="anchor" data-viewid="003-02">link</a> naar ander gedeelte in het document: andere view andere view-content met carousel
                        </p>
                        <p>
                            Voorbeeld tekst met een externe link content in popup: <a class="popup" data-popupid="information_mapping_tutorial" href="http://fontello.com/">popup link</a>
                        </p>
                    </div>

                    <div class="clear"></div>
                </div>
            </div>

        </section>






    </div>
</section>
<!--END RIGHT-SIDE-->

<!-- POPUP OVERLAYS
============================================================================================================================================== -->

<!--#
    popup overlays
#-->
<div class="overlays">
    <!--1: youtube video popup template-->
    <div class="popup-overlay mfp-hide mfp-with-anim mfp-move-vertical" data-popupid="youtube">
        <div class="video">
            <!--youtube video iframe via javascript-->
        </div>
    </div>
    <!--2: information mapping tutorial popup template-->
    <div class="popup-overlay mfp-hide mfp-with-anim mfp-move-vertical" data-popupid="information_mapping_tutorial">
        <div class="iframe">
            <!--iframe via javascript-->
        </div>
    </div>
</div>


<!-- JS
============================================================================================================================================== -->
<script src="//code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
<script th:src="@{/content/templates/web1/js/plugins.min.js}" src="content/templates/web1/js/plugins.min.js" type="text/javascript"></script>
<script th:src="@{/content/templates/web1/js/scripts.min.js}" src="content/templates/web1/js/scripts.min.js" type="text/javascript"></script>
</body>
</html>
