<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org " lang="en">
<head>
    <!-- Global Metas
============================================================================================================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <title th:text="${ImDocument.documentName}">Document Name</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

    <!-- CSS
    ============================================================================================================================================== -->

    <!--Google font: Open Sans: light / regular / semi-bold / bold-->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />

    <!--Custom styles-->
    <link rel="stylesheet" th:href="@{/content/templates/presentation1/styles/css/reveal.css}" href="content/templates/presentation1/styles/css/reveal.css" />
    <link rel="stylesheet" th:href="@{/content/templates/presentation1/styles/css/theme/white.css}" href="content/templates/presentation1/styles/css/theme/white.css" />
    <link rel="stylesheet" th:href="@{/content/templates/presentation1/styles/css/custom.css}" href="content/templates/presentation1/styles/css/custom.css" />
    <style th:inline="text">
        body{
            color: [[${branding.textColor}]];
            background: [[${branding.pageBackgroundColor}]];
        }
        section a{
            color: [[${branding.primaryColor}]] !important;
            text-decoration: underline !important;
        }
        h1{
            color: [[${branding.primaryColor}]] !important;
        }
        h2{
            color: [[${branding.primaryColor}]] !important;
        }
        .reveal .controls .navigate-right, .reveal .controls .navigate-right.enabled {
            border-left-color: [[${branding.primaryColor}]] !important;
        }
        .reveal .controls .navigate-left, .reveal .controls .navigate-left.enabled{
            border-right-color: [[${branding.primaryColor}]] !important;
        }
        .reveal .controls .navigate-down, .reveal .controls .navigate-down.enabled{
            border-top-color: [[${branding.primaryColor}]] !important;
        }
        .reveal .controls .navigate-up, .reveal .controls .navigate-up.enabled{
            border-bottom-color: [[${branding.primaryColor}]] !important;
        }
        .scroll-bottom{
            background: [[${branding.pageBackgroundColor}]];
        }

    </style>

    <!-- Favicons
    ==============================================================================================================================================
    <link rel="shortcut icon" href="images/favicons/favicon.ico" />
    <link rel="apple-touch-icon" href="images/favicons/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-touch-icon-114x114.png" />
    -->
</head>
<body>



<div class="reveal">
    <div class="slides">

        <!-- First slide -->
        <section data-transition="slide">
            <img th:src="${logoUrl}" src="..." />
            <h1 th:text="${ImDocument.documentName}">Document name</h1>
            <p id="use-arrow-keys">
                <span th:text="#{document_view.press_space_to_navigate_slides}">Use the arrow keys to navigate</span>
                <br/>
                <span th:text="#{document_view.scroll_in_large_text_and_tables}">You can scroll in large text and tables.</span>
            </p>
            <!--
            <p>
                <a href="#" th:href="${baseUrl}">&larr; <span th:text="#{document_view.back_to_home}">Back to home</span></a>
            </p>
            -->
        </section>

        <!-- Maps -->
        <section data-transition="slide" th:each="map,iterStat : ${ImDocument.getMaps()}">
            <section>
                <h2 th:text="${map.label}">Map label</h2>
            </section>

            <!-- Loop all blocks -->
            <section th:each="block,blockIter : ${map.getBlocks()}">
                <h2 th:text="${block.label}">Block label</h2>
                <div class="block-wrapper">
                    <div class="block" >
                        <div class="block-content" th:utext="${HtmlContentProcessor.process(block.getContent(), templateCode)}">
                            Block content
                        </div>
                        <p class="spacer" style="display: none;">&nbsp;</p>
                    </div>
                    <!--
                    <div class="scroll-bottom">
                        <div class="text">
                            <span>&darr;</span>
                            <span th:text="#{document_view.scroll_to_see_more}">
                                Scroll to see more
                            </span>
                        </div>
                    </div>
                    -->
                </div>
            </section>
        </section>

        <!-- Thanks for watching -->
        <section data-transition="slide">
            <h2 th:text="#{document_view.thanks_for_watching}">Thanks for watching</h2>
            <p>
                <a href="#" th:href="${allDocumentsUrl}"><span th:text="#{document_view.back_to_documents}">Back to publications</span></a>
            </p>

        </section>

    </div>
</div>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script th:src="@{/content/templates/presentation1/js/reveal.js}" src="js/reveal.js"></script>
<script>
    Reveal.initialize();

    Reveal.addEventListener( 'slidechanged', function( event ) {
        // event.previousSlide, event.currentSlide, event.indexh, event.indexv

        resetHeights();

        setTimeout(fitBlockSlide, 1000);
        //fitBlockSlide();

    } );

    /*
    setInterval(function(){
        var block = $('section > section.present .block');
        if(block.length > 0){
            var blockOffsetTop = block.offset().top;
            var windowHeight = $(window).height();

            var scale = Reveal.getScale();
            var availableHeight = (windowHeight - blockOffsetTop) / scale;

            block.css('overflow', 'scroll');
            block.css('height', availableHeight);

            console.log('offset = '+blockOffsetTop+', window height = '+windowHeight+', block height = '+availableHeight);


        }

    }, 250);
    */

    $(window).resize(fitBlockSlide);

    function resetHeights(){
        $('section .block-wrapper').removeClass('scroll-for-more');

        var blocks = $('section > section .block');
        blocks.css('height', 'auto');
    }

    function fitBlockSlide(){
        var block = $('section > section.present .block');
        if(block.length == 1){
            var blockWrapper = block.closest('.block-wrapper');
            var windowHeight = $(window).height();

            var blockOffset = block.offset();
            if(blockOffset){
                var blockOffsetTop = blockOffset.top;
                // Remove previous height
                blockWrapper.removeClass('scroll-for-more');
                block.css('height', 'auto');
                var blockHeight = block.outerHeight();

                var blockEndY = blockOffsetTop + blockHeight;

                if(blockEndY > windowHeight){
                    // The block continues outside the page

                    var scale = Reveal.getScale();
                    var availableHeight = (windowHeight - blockOffsetTop) / scale;

                    if(availableHeight > 0){
                        blockWrapper.addClass('scroll-for-more');
                        block.css('height', availableHeight);
                    }
                }
            }
        }
    }
</script>


</body>
</html>
