<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Upload XML test</title>
</head>
<body>

<form enctype="multipart/form-data" th:action="@{/upload/xml/}" method="post">

    <h3>Upload XML</h3>
    <p>
    <label>
        XML file
        <input type="file" name="xml_file"/>
    </label>
    </p>

    <p>
    <label>
        Password
        <input type="text" name="password"/>
    </label>
    </p>

    <p>
        <label>
            Template code
            <input type="text" name="template_code" value="website1" />
        </label>
    </p>

    <p>
        <label>
            Access token
            <input type="text" name="access_token" value="TestKey13038" />
        </label>
    </p>
    <input type="submit"/>

</form>
    <hr/>

<form enctype="multipart/form-data" th:action="@{/upload/image/}" method="post">
    <h3>Upload Image</h3>
    <p>
        <label>
            Image file
            <input type="file" name="image_file"/>
        </label>
    </p>

    <p>
        <label>
            Document ID
            <input type="text" name="document_id"/>
        </label>
    </p>

    <p>
        <label>
            Source
            <input type="text" name="source"/>
        </label>
    </p>

    <p>
        <label>
            Access token
            <input type="text" name="access_token" value="TestKey13038" />
        </label>
    </p>
    <input type="submit"/>
</form>



</body>
</html>
