
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myImBlockLabel" data-translate="imicloudApp.imBlock.home.createOrEditLabel">Create or edit a Im Block</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.imBlock.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.imBlock.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="imicloudApp.imBlock.label" for="field_label">Label</label>
            <input type="text" class="form-control" name="label" id="field_label"
                    ng-model="vm.imBlock.label"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="imicloudApp.imBlock.content" for="field_content">Content</label>
                <textarea class="form-control" name="content" id="field_content"
                    ng-model="vm.imBlock.content"  ></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="imicloudApp.imBlock.position" for="field_position">Position</label>
            <input type="number" class="form-control" name="position" id="field_position"
                    ng-model="vm.imBlock.position"
                    required />
            <div ng-show="editForm.position.$invalid">
                <p class="help-block"
                    ng-show="editForm.position.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.position.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="imicloudApp.imBlock.guid" for="field_guid">Guid</label>
            <input type="text" class="form-control" name="guid" id="field_guid"
                    ng-model="vm.imBlock.guid"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="imicloudApp.imBlock.labelImageSouce" for="field_labelImageSouce">Label Image Souce</label>
            <input type="text" class="form-control" name="labelImageSouce" id="field_labelImageSouce"
                    ng-model="vm.imBlock.labelImageSouce"
                     />
        </div>

        <div class="form-group">
            <label data-translate="imicloudApp.imBlock.imMap" for="field_imMap">Im Map</label>
            <select class="form-control" id="field_imMap" name="imMap" ng-model="vm.imBlock.imMapId" ng-options="imMap.id as imMap.id for imMap in vm.immaps"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="imicloudApp.imBlock.labelImage" for="field_labelImage">Label Image</label>
            <select class="form-control" id="field_labelImage" name="labelImage" ng-model="vm.imBlock.labelImageId" ng-options="image.id as image.id for image in vm.images"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
